{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <h1>Savings history</h1>
    <table class="table">
        <tr>
            <th>Year</th>
            <th>'End of year savings</th>

        </tr>

        {% for row in data %}
            <tr>
                <td>{{ row['year'] }}</td>
                <td>{{ row['EOYbalance'] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <h2>Add new data</h2>
    <form action="/add" method="post">
        <div class="form-group">
            <input autofocus class="form-control" class="form-control" name="year" placeholder="Year" type="number">
            <input autocomplete="off" name="eoybalance" placeholder="End of Year balance" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add balance</button>
    </form>

{% endblock %}